<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml'>
    <head>
        <meta http-equiv='Content-Type' content='text/html;charset=utf-8' />
        <title>Alert</title></head>
    <body  style='font-family:Arial, Helvetica, sans-serif; ; line-height:24px;'>
        <div style=' width:100%; height:100%;'>
            <table width='600' border='0' align='center' cellpadding='0' cellspacing='0' bgcolor='#ffffff' style="padding: 10px; border: 2px solid #f3f3f3;border-radius: 10px;">
                <tr style='text-align:left;'>
                    <td style="padding: 20px;"><img src='{{ absolute_url(asset(img_logo)) }}' style='max-width:100%;' alt="EMAIL LOGO"/></td>
                </tr>
                <tr>
                    <td height='300' style="text-align: center;">
                        <img src='{{ absolute_url(asset('assets/email/mail.png')) }}' style='max-width:70%;' alt="EMAIL Type"/>
                    </td>
                </tr>
                <tr>
                    <td style='font-size:20px; font-weight:bold; color:#5b5b5b;' align='center'>¡Hola {{ email_title }}!</td>
                </tr>
                <tr>
                    <td style='padding:20px 50px;font-size:17px; color:#8f8f8f' align='center' >
                        <p>{{ email_body }} <a style="text-decoration:none;color:#5b5b5b;font-weight:bold" href="mailto:{{ email_body_mail }}" target="_blank">{{ email_body_mail }}</a> </p>
                        <p style='padding-top: 10px;'>{{ email_body_2 }} <a style="text-decoration:none;color:#7E83F6;font-weight:bold" href='{{ email_body_url }}'>www.comocdice.com</a> {{ email_body_3 }} </p>
                    </td>
                </tr>
                <tr>
                    <td height='15' bgcolor='#fff' style='font-size:15px; color:#8f8f8f;text-align:center;font-weight: bold;font-style: italic;'>
                        <p>{{ email_agradecimiento}}</p>
                    </td>
                </tr>
                <tr>
                    <td height='15' bgcolor='#fff' style='font-size:15px; color:#8f8f8f;text-align:center;font-weight: bold;'>
                        <p>{{ email_agradecimiento_2}}</p>
                    </td>
                </tr>
                <tr>
                    <td height='30' bgcolor='#fff'>&nbsp;</td>
                </tr>
            </table>

            <table width='600' border='0' align='center' cellpadding='0' cellspacing='0' bgcolor='#ffffff' style="text-align: center;color:#8f8f8f">
                <tr>
                    <td height='50' bgcolor='#fff' style='padding: 10px;'>
                        <small>
                            {{ email_footer }}
                        </small>
                    </td>
                </tr>
            </table>

        </div>
    </body>
</html>